*{
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;height: 100%;
    user-select: none;
}
body{
    position: relative;
    color: #FC997C;
    background-color: #2E4C6D;
}
.menu{
    font-size: 200%;
    margin: 20px;
}
.stopwatch{
    display: none;
}
i{
    transition: .1s;
    cursor: pointer;
}
i:hover{
    color: #DADDFC;
}
section{
    width: 100%;
}
.d-none{
    display: none;
}
footer{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 300%;
}

#backwave{
    position: fixed;
    background-color: #396EB0;
    bottom: 0;
    height: 50%;
    width: 100%;
    transition: 1s;
}
#backwave>img{
    width: 100%;
    position: absolute;  
    top: -20vw;  
    transition: 1s;
}
#backwave>img:nth-child(1){
    left: -10%;
    animation: main 4s ease infinite alternate;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#backwave>img:nth-child(2){
    animation: waveback 4s 1s ease-out infinite alternate;
    opacity: .9;
    right: -65%;
}
#backwave>img:nth-child(3){
    animation: wavefor 4s ease-in infinite alternate;
    left: -25%;
    opacity: .9;
}
@keyframes wavefor {
    100%{
        left: 50%;
    }
}
@keyframes waveback {
    100%{
        right: 50%;
    }
}
@keyframes main {
    100%{
        left: 10%;
    }
}

#form{
    width: 50%;
    min-width: 250px;
    max-width: 400px;
    position: absolute;
    top: 50%;left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    text-align: center;
}
#stopwatch{ 
    position: absolute;
    top: 50%;left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: #DADDFC;
    font-size: 400%;
    font-weight: bolder;
}
@media only screen and (max-width:600px){
    #stopwatch{
        font-size: 200%;
    }
}
input[type=number]{
    width: 40px;
    padding: 2%;
    font-size: 110%;
    border-radius: 3px;
    border: none;outline: none;
    background-color: #DADDFC;
    color: #2E4C6D;

}
input[type=number]:focus{
    border: none;outline: none;
}